# Server config. 
# Since following credentials are not sensitive because of mock DB, including values except api key.

# Postgres 
POSTGRES_USER = "manager"
POSTGRES_PASSWORD = "postgres"
POSTGRES_DB = "banking_db"
POSTGRES_PORT = 5432
db_schema_path = "./postgres/schema.sql"
db_storage_path = "./postgres/db"

# Data gen script
db_host = "postgres"
db_port = "5432"
db_name = "banking_db"
db_user = "manager"
db_password = "postgres"
data_gen_script_path = "./postgres/pg-data-gen.py"

# # VLLM
# vllm_model_storage_path  = "./vllm/models"
# VLLM_MODEL = "Qwen/Qwen3.5-0.8B"
# VLLM_PORT = "8000"

# embedding
embed_model_name = "gemini-embedding-001"
LLM_API_KEY = "" # your apik ey goes here
vector_schema_path = "./postgres/vector-schema.sql"
vector_ingest_script_path = "./postgres/vector-ingest.py"
data_source_path = "./Servers/data/irac_faq.txt"