VLLM_URL = "http://vllm:8000/v1"
VLLM_API_KEY = ""

model_name = "Qwen/Qwen3.5-0.8B"

EXPORT_DIR = "./exports"

# populate following as per your DB config. 
# Since following credentials are not sensitive because of mock DB, including values.
db_host = "postgres"
db_port = "5432"
db_name = "banking_db"
db_user = "manager"
db_password = "postgres"